.qh_con{
	padding:20px;
}

dl,dt,dd,ul,li {
	list-style: none outside none;
	margin: 0;
	text-align: left;
	padding: 0;
	color: #333333;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	list-style: none outside none;
}

.Delivery li {
	margin-bottom: 10px;
}

home2.css  (line  601) .qh_tit {
	background: url("http://s.tidebuy.com/images/newimages/tu.png")
		no-repeat scroll left 15px transparent;
	color: black;
	font-family: Georgia;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	padding-left: 22px;
}

#DressTotalTime {
    line-height: 20px;
    margin-bottom: 24px;
    margin-left: 23px;
    padding-right: 123px;
}

#DressTotalTime dl {
    color: #666666;
    font-family: Verdana;
    font-size: 11px;
}

#DressTotalTime dt {
    color: #000000;
    font-size: 12px;
    padding-bottom: 2px;
}

.States {
    border: 1px solid #CCCCCC;
    height: 23px;
    margin: 0 5px;
    width: 230px;
}

.Delivery li span {
    color: #999999;
}

.dtit td {
    background: none repeat scroll 0 0 #333333;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
}