@charset "utf-8";
/*globel*/
.bold{font-size:bold;}
/* list for alert */
.listAlertBox{padding-left: 20px; padding-right:20px; position: absolute; background:white; display:none; width: 450px; height: 90px; z-index: 20001; top: 532px; left: 439.5px;}
.listAlertBox_close{font-weight:600;color:#A6A6A6;top:5px;right:5px;position:absolute;}
/* search */
.searchList .searchList_words{ color:#AD3637; font-size:16px; }
.searchList a{text-decoration:underline; color:#343535;}
.searchNoneBox{ margin-top:30px;}
.searchNoneBox_function h2{ margin-bottom:14px;}
.searchNoneBox_function ul{ margin-top:14px;}
.searchNoneBox_function li{color:#757575; line-height:20px;}
.searchNoneBox .searchNoneBox_related{ margin-top:58px;}
.searchNoneBox .searchNoneBox_related h2{margin-bottom:20px;}
.searchNoneBox .searchNoneBox_related li{line-height:20px;}
.searchNoneBox .searchNoneBox_related li a{color:#757575; text-decoration:none;}
.searchNoneBox .searchNoneBox_related li a:hover{color:#FF7A2F;}


.nodata_font{background:url(oops.png) no-repeat 60px 10px;text-align:center;border:2px dotted #ccc;height:160px;border-width:0 0 2px 0; line-height:160px;}
.nodata_font b{font-size:18px;}

.pictureList_box{float:right;width:237px; margin-bottom:30px; margin-top:10px;}
.pictureList_box h1{font-size:20px; font-weight:bold; color:black;}
.pictureList_box .pictureList_box_funBt{width:100%; overflow:hidden; border-bottom:1px dotted #B1B1B1; padding-bottom:8px; margin-bottom:8px;}
.pictureList_box .pictureList_box_funBt .btLeft{float:left; height:24px; width:26px; display:block; background:url(goods-bg.gif) -3px -515px no-repeat;}
.pictureList_box .pictureList_box_funBt .btLeft:hover{background:url(goods-bg.gif) -3px -541px no-repeat;}
.pictureList_box .pictureList_box_funBt .btMiddle{width:182px;text-align:center; float:left;}
.pictureList_box .pictureList_box_funBt .btRight{float:right; height:24px; width:26px; display:block; background:url(goods-bg.gif) -33px -515px no-repeat;}
.pictureList_box .pictureList_box_funBt .btRight:hover{background:url(goods-bg.gif) -33px -541px no-repeat;}

.pictureList_ul{ padding:0 16px; width:;overflow:hidden; zoom:1;}
.pictureList_ul li{width:100px; float:left; text-align:center; margin-top:15px; }

/**********默认商品图片列表*****************/
.Gallery_pic .goods_list .goods_picture img{max-width:225px;}
/************倒计时***************/
.countdown_sun{color:#FF0000; font-size:12px; font-weight:bold; display:block; float:right;line-height:40px; height:40px; text-shadow:1px 1px 3px #fff; color:#FF0000\9; padding-right:10px; }
.countdown_sun span{font-size:20px;color:#FF0000; text-shadow:2px 2px 3px #fff;}
.button_gery_radius{display:block; border-radius:5px; background:#EEEEEE; background:-moz-linear-gradient(top, #FFFFFF, #CDCDCD); background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#CDCDCD)); height:23px; border:1px solid #ADA7A1; float:right; padding:0 5px; line-height:23px; font-weight:bold; margin-top:8px; margin-right:10px; }
.button_gery_radius:hover{background:white; background:-moz-linear-gradient(top, #CDCDCD, #ffffff); background: -webkit-gradient(linear, 0 0, 0 100%, from(#CDCDCD), to(#ffffff)); text-decoration:none;}
/************倒计时INPUT框**************/
.countdown_top{color:#FF0000; position:absolute;font-size:14px; font-weight:bold; display:block;line-height:35px; height:35px;color:#FF0000\9; right:2px;top:5px;z-index:10 }
.clockH,.clockM,.clockS { text-align:center; background:transparent;border:none;font-family:Arial,Helvetica,sans-serif;}
/************顶部倒计时***************/
.countdown_top  input, .countdown_top span{color:#f00;font-size:35px;line-height:35px;height:35px;width:52px;text-align:center;}
.clockDian { text-align:center; background:transparent;border:none;font-family:Arial,Helvetica,sans-serif;}


/* header.html */
.search_words{position:absolute; top:30px; border:1px solid #939393;z-index:-1; background:white; padding:6px 0 12px 0; width:268px;}
.search_words li{ cursor:pointer; padding:0 12px; line-height:20px;}
.search_words li:hover,.search_selected{background:#B7E1ED;}

/*header.css*/

.search{position:absolute;left:245px;top:10px;z-index:1;}
.search_box{position:relative;width:307px;height:32px;background:url(search_box.gif) no-repeat;}
.search_box .search_text{position:absolute;top:0;left:8px;background:transparent;width:255px;height:32px;line-height:32px;border:none;}
.search_button{position:absolute;top:0;right:0;width:40px;height:32px;background:transparent;border:none;cursor:pointer;}

.subCatCollapse,.subCatCollapse_2{margin-left:-10px;cursor:pointer;}
.subCatList li:hover,#Caracoter_lb li:hover{background-color:#cccccc;}
.subCatList li{margin:0;padding-left:10px!important;}
.subCatList{display:none;}
.table_picstyles{ border-bottom:1px solid #9a9a98; padding-bottom:10px; margin-bottom:10px; width:410px;}
.addthis_box {display: none;width: 160px;margin: 0 auto;clear: both;}

/* Float right bottom ads */
#float_right_ads_def,#float_right_ads_detail{height:145px;position:fixed;left:auto;right:0;bottom:0;_position:absolute;_top:expression(document.documentElement.clientHeight + document.documentElement.scrollTop - this.offsetHeight);text-align:center;}
#adsdefault_closebutton{ position:absolute; left:48px; top:2px;  width:14px; height:13px; background:#ffffff; filter:alpha(opacity=0);opacity:0}
#adsshow_closeadver{ position:absolute; left:166px; top:108px;  width:108px; height:20px; background:#ffffff; filter:alpha(opacity=0);opacity:0}
#adsshow_returndefault{ position:absolute; left:5px; top:120px;  width:25px; height:18px; background:#ffffff; filter:alpha(opacity=0); opacity:0;}
#float_right_ads_def {display: none; cursor: pointer; z-index: 999; }
#float_right_ads_detail{ display: none; cursor: pointer; z-index: 998; }
/*cospaly goods list cospaly sort buttons*/
.cos_sort{ height:25px;}
.cos_sort li{ float:left; line-height:20px; padding:0 10px; font-size:11px; margin-right:5px; border:#d7d7d7 solid 1px; box-shadow:-1px -1px 1px #fafafa; -webkit-box-shadow:-1px -1px 1px #fafafa; background:#f0f0f0;background:-moz-linear-gradient(top, #fafafa, #e9e9e9); background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e9e9e9));}
.cos_sort li.current_tab{box-shadow:-3px -1px 1px #fdeeb7; -webkit-box-shadow:-3px -1px 1px #fdeeb7; cursor:pointer; background:#ffe18b;background:-moz-linear-gradient(top, #ffe47d, #ffdd96); background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe47d), to(#ffdd96));}


.colorSelectWindow{
	position: absolute; top: 200px; left: 280px; z-index: 100;
	width: 450px;
	border: 1px solid #aaaaaa;
	background-color: white;
	padding: 10px;
}

.colorWindow-large{
	float: left;
	width: 160px;
}
.colorWindow-large button{
	background: url("Image_mosaic.png") no-repeat scroll 0 -374px transparent;
    border-style: none;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 31px;
    text-align: center;
    text-decoration: none;
    width: 52px;
}
	
.colorWindow-list{
	margin: 0 10px;
	float: left;
	width: 270px;
}

.colorWindow-list img{
	margin: 2px;
	width: 43px;
	border: 2px dotted #FFFFFF;
}

.colorWindow-list .color-selected{
	border: 2px dotted #ff0000;
	opacity:0.5;
}

/********************************************************Measurement **************************************/

.measure_panel {
    /**background: url("/style/image/background_grey_box.jpg") no-repeat scroll 0 0 transparent;*/
    background:#fff;
    height: 306px;
    left: 0;
    margin: 0;
    padding: 25px;
    text-align: left;
    top: 0;
    width: 712px;
    float: left;
}


.measure_panel .measure_sidebar {
    float: left;
    font-size: 11px;
    height: 300px;
    width: 320px;
}

.measure_panel .measure_title {
    font-size: 11px;
    width: 100%;
}


.measure_sidebar h2, .measure_title  h2{
    color: #4D4D4D;
    font-weight:bold;
    font-size:30px;
    text-transform: uppercase;
	line-height: 1;
}

.measure_sidebar p, .measure_title p{
	color: #808080;
	font-size:18px;
     margin: 0 0 9px;
     
}


.measure_panel .measure_content{
 	float: left;
    padding: 0;
    width: 380px;
    color: #808080;
}


.measure_content ul{
	list-style-type: none;
    margin: 100px 0 0;
    padding: 0;

}

.measure_content ul li{
	 border-top: 2px dotted #CCCCCC;
    margin: 0;
    padding: 10px 0;
     line-height: 18px;	
     list-style-type: none;

}

.measure_content ul li label{
	 cursor: pointer;
    float: left !important;
    font-weight: bold;
    width: 100px !important;

}
.measure_content .measure_value{
	float: left !important;
    width: 250px !important;

}

.measure_content .txt_input{
	width: 40px;
}


.measure_navigation{
	text-align: center;
}

.measure_navigation .measure_buttons {
    height: 40px;
}

.measure_navigation .measure_controller{
	height: 40px;
}



.measure_navigation .pagination_active_m{
	background: url("/style/image/pagination_active.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 14px;
    margin: 0 5px;
    width: 14px;
}


.measure_navigation .pagination_m{
	background: url("/style/image/pagination_circle.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 14px;
    margin: 0 5px;
    width: 14px;
}

.measure_navigation .pagination_m:hover{
		background: url("/style/image/pagination_hover.png") no-repeat scroll 0 0 transparent;
}

.circle_hint {
    background: url("/style/image/pagination_hover_title_bg.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    width: 200px;
}

.measure_dashboard_content{
	width: 999999999px;
	height: 370px;
}

.measure_dashboard{
	height: 430px;
	width: 762px;

}

ul.img_opt{
	height: 300px;
    margin: 10px;
    width: 400px;
}

ul.three_img_item_flat{
	width: 700px;
	padding: 50px;
}

ul.six_img_item_flat{
	width: 700px;
	padding: 0px 50px;
}

ul.two_img_item_flat{
	width: 700px;
	padding: 50px 140px;
}


ul.four_img_item{

}

ul.three_img_item{
	
}

ul.img_opt li{
	background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    float: left;
    height: 130px;
    overflow: hidden;
    widht: 130px;
    padding:2px 30px;
}

ul.three_img_item li{
	padding: 100px 2px 2px 2px ;
	 width: 120px;
	 
}

ul.eight_img_item li{
	padding: 10px 10px 2px 2px ;
	 width: 70px;
	height:90px;
}


ul.eight_img_item li img.small{
	height: 70px;
    width: 70px;
    margin: 0px;
}

ul.img_opt li img{
	width: 100px;
	height: 100px;
	margin: 0 15px;
}

ul.three_img_item li img{
	width: 100px;
	height: 100px;
	margin: 0 10px;
}

ul.img_opt li h3{
	text-align: center;
	color: #fff;
	background: none repeat scroll 0 0 #4D4D4D;
	height: 20px;
}

ul.img_opt li h3.current{
	background: url("/style/image/checkmark.png") no-repeat scroll 0 -8px #DD8200;
    color: #FFFFFF;
    height: 20px;
    text-align: center;
}


ul.img_opt li h3.active{
	text-align: center;
	color: #fff;
	background: none repeat scroll 0 0 #e5e5e5;
	height: 20px;
}

.front_sub_opt{
	padding: 2px 10px;	
}

.front_sub_opt .txt_input {
	margin-left: 5px;
	width: 208px;
	height: 22px;
	border: solid 1px #CCC;
	background: #FFF;
}

.front_opt{
	padding: 30px 2px;
}

img.img_opt{
	border: 5px solid #FFFFFF;	
}

.img_opt{
	cursor: pointer;
}

img.active{
	border: 5px solid #e5e5e5;
}

img.current{
	border: 5px solid #DD8200;	
}

.no_measure_note{
	padding: 10px 2px;
}


.no_measure_note a{
	padding: 10px 2px;
	color: #DD8200;	
	padding: 25px 10px;
	font-weight: bold;
	display: block;
}

#index_bigad .measure_dashboard_content{
	
	background: none;
    border: none;
    float: none;
    left: auto;
    position: relative;
    top: auto;
    z-index: 8;
     height: 428px;
    overflow: hidden;
    position: relative;
    width: 972px;
}

#index_bigad .measure_panel{
	 height: 428px;
    overflow: hidden;
    position: relative;
    width: 972px;
    padding: 0px;
}

#index_bigad .measure_dashboard{
	 height: 428px;
    overflow: hidden;
    position: relative;
    width: 972px;
	
}

#index_bigad .measure_navigation .measure_controller {
    float: right;
    height: 40px;
}

#index_bigad .measure_navigation {
    left: 0;
    position: relative;
    text-align: center;
    top: -20px;
    z-index: 9;
}

#index_bigad .measure_navigation .pagination_active_m{
	background: url("/style/image/pagination_active1.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 14px;
    margin: 0 5px;
    width: 14px;
}
#index_bigad .measure_navigation .pagination_m{
	background: url("/style/image/pagination_circle1.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 14px;
    margin: 0 5px;
    width: 14px;
}

#index_bigad .measure_navigation .pagination_m:hover{
		background: url("/style/image/pagination_hover1.png") no-repeat scroll 0 0 transparent;
}

.continue_shopping{
		  background: url("/css/goods-bt.png") no-repeat scroll -1px -362px transparent;
    border: medium none;
    color: #B52F07;
    cursor: pointer;
     display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 52px;
    line-height: 52px;
    padding-left: 10px;
    text-transform: uppercase;
    width: 188px;
}

.clearBoth{
	clear: both;
}

/********************************************************end Measurement **************************************/

