/*
Back to top button 
*/
#back-top {
	position: fixed;
	bottom: 210px;
	margin-left: 800px;
}
#back-top a {
	width: 58px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/*
Scroll to bottom button 
*/
#scroll-bottom {
	position: fixed;
	bottom: 30px;
	margin-left: 800px;
}
#scroll-bottom a {
	width: 58px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#scroll-bottom a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: 58px;
	height: 58px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(/style/image/up-arrow.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 8px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}

/* arrow icon (span tag) */
#scroll-bottom span {
	width: 58px;
	height: 58px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(/style/image/down-arrow.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 8px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#scroll-bottom a:hover span {
	background-color: #777;
}